{% extends 'back-layout.html.twig' %}

{% block kd_body %}

    <h>teachers</h>

{% endblock %}

{% block main %}
    <section class="mainContent full-width clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="sectionTitle text-center">
                        <h2>
                            <span class="shape shape-left bg-color-4"></span>
                            <span>supprimer prof </span>
                            <span class="shape shape-right bg-color-4"></span>
                        </h2>
                    </div>
                </div>
            </div>
            {% for row in teachers | batch(3)  %}
                <div class="row">
                    {% for teacher in row %}
                        <div class="col-sm-4 col-xs-1">
                            <div class="teamContent teamAdjust">
                                <div class="teamImage">
                                    <img src="{{ asset(teacher.photo.webpath)}}" class="img-circle img-responsive">
                                    <div class="maskingContent">
                                        <ul class="list-inline">
                                            <li><a href="{{ asset(teacher.linefb)}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-youtube-play fa-5x" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="teamInfo teamTeacher">


                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Tooltip on top"> <a href="{{ path('update_teacher',{'id':teacher.id}) }}">update</a>
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Tooltip on top"><a href="{{ path('delete_prof',{'id':teacher.id}) }}">delete</a></button></button>



                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
