<li class="active">
    <a href="{{ path('shop_homepage') }}">
        <i class="icon-gauge"></i><span class="title">Dashboard</span>
    </a>
</li>
<li>
    <a href="{{ path('create_product') }}">
        <i class="fa fa-users"></i><span class="title">Products</span>
    </a>
</li>
<li>
    <a href="{{ path('show_product') }}">
        <i class="fa fa-users"></i><span class="title">Products</span>
    </a>
</li>

