{% extends 'layout.html.twig' %}

{% block main %}
    <section class="mainContent full-width clearfix coursesSection">
        <div class="container">
            {% for row in kids | batch(2) %}
            <div class="row">
                {% for kid in row %}
                <div class="col-sm-6 col-xs-12 block">
                    <div class="media eventContent bg-color-4">
                        <a class="media-left" href="single-event-left-sidebar.html">
                            <img height="268" alt="Image" src="{{ asset(kid.photo.webPath) }}">
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading"><a href="single-event-left-sidebar.html">{{ kid.name }}</a></h3>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-calendar-o" aria-hidden="true"></i>{{ kid.age }} ans</li>
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i>2 Heures restants pour aujourd'hui</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
                            <ul class="list-inline btn-yellow">
                                <li><a class="btn btn-primary" href="single-event-left-sidebar.html">Voir plus</a></li>
                                <li><a class="btn btn-primary" href="{{ path('child_homepage') }}">Son espace</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

