{% extends 'layout.html.twig' %}
{% block main %}
    <section class="whiteSection">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}</h1>

                    <ul>
                        <li><a href="{{ url('fos_message_inbox') }}">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a></li>
                        <li><a href="{{ url('fos_message_sent') }}">{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a></li>
                        <li><a href="{{ url('fos_message_deleted') }}">{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% block fos_message_content %}{% endblock %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}